
<li>	
	<%= type(battlegroup) %>
		<!--  locals not getting passed... -->
		<ul>
	<% battlegroup.groups.each do |group| %>
		 <%= render partial: 'groups/group', locals: { user: @user, fleet: @fleet, battlegroup: battlegroup, group: group }  %> 
	<% end %>
		</ul>	
</li>
