<p>Group SINGULAR.html.erb</p>
<li>
	<%= group.ship.name %>
	<p>Group size here?</p>
	<%= %>
	<%= group.cost %>
	<%= link_to "Remove group", user_fleet_battlegroup_group(@user, @fleet, @battlegroup, group), method: :delete %>
</li>